body{
    text-align: center;
    color: #FFFFFF;
    font-family: "Arial";
    font-size: 12px;
    margin: 0px;
    padding: 0px;

}

h1{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

.main{
    margin: 0 auto;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    padding: 10px;
    width: max-content;
    
}

.navbar{
    margin: 2px;
    padding: 10px;
    border-bottom: 1px solid white;
}

.item{
    background: #000000;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    margin: 2px;
    padding: 10px;
}

li{
    display: inline-block;
    margin: 0 10px;
}

html{
    background: rgb(35,255,131);
    background: linear-gradient(90deg, rgba(35,255,131,1) 0%, rgba(7,198,35,1) 100%);
}